.center-item{
     display: flex;
    align-items: center;
    justify-content: flex-end;
};
.button{
    	float: right;
    	padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}